
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color:#519eb6;
    padding: 10px;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}


.imagem1 {
    display: flex;
    align-items: center;
    height: 90px;
    margin-right: 0px;
    margin-left: 100px;
}

.imagem2 {
    display: flex;
    align-items: center;
    height: 500px;
    margin-right: 65px;
    margin-left: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: rgb(40, 50, 51);
}

main {
    font-size: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

form .tituloform{
    padding-top: 25px;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

form .caixa {
    align-items: center;
    text-align: center;
    display: flex;
    right: 150px;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #386a77;
    max-width: 500px;
}
input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #38788b;
    box-shadow: 5px 0px 9px #ebebe5;
    color: black;
    font-weight: bold;
}

.enviar {
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: black;
    padding-bottom: 15px;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

footer {
    background-color: #519eb6;
    color: #fff;
    text-align: center;
    padding: 10px;
}


